<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="http://www.instructables.com/id/ESP8266-ESP-12Standalone-Blynk-101/">ESP8266 ESP-12(Standalone)+ Blynk 101</a></strong>
			- My first instructable.
			A basic guide to using ESP8266 as an MCU with Blynk app
		</h5>
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="http://www.instructables.com/id/How-to-use-Virtual-Pins-in-Blynk/">How to use Virtual Pins in Blynk</a></strong>
			Use virtual pins 
		</h5>
    	
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="http://www.instructables.com/id/Esp8266Websockets-RGB-LED-controller/">ESP8266+Websocket server RGB LED controller</a></strong>
			- Connect a smartphone/computer directly to ESP8266 to remotely trigger RGB
		</h5>
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="http://www.instructables.com/id/ESP8266-Firmata-J5-NodeBot/">ESP8266 Firmata-J5 NodeBot</a></strong>
			- Firmata now supports ESP8266.
			Use Johnny-Five running on host computer to program ESP8266 over WIFI
		</h5>
	
		


    </div>
  </div>
</div>
</section>
